# package directories
node_modules

# Serverless directories
.serverless

# IDE
.idea/

# mac
.DS_Store

# configs
config/**/*local*.yml

# Test output
test-reports
coverage
_old/

# Auto generated
built/
generated/
schema.graphql

# env files
.*.env
