version: 2

workflows:
  version: 2
  test-and-push-docker:
    jobs:
      - test
      - build-docker:
          requires:
            - test

jobs:
  test:
    docker:
      - image: circleci/node:8
      - image: mysql:5.7
        environment:
          MYSQL_ROOT_PASSWORD: password

    steps:
      - checkout

      - run:
          name: Install mysql # in future, just use a docker image with node and mysql
          command: sudo apt-get update && sudo apt-get install -y mysql-client

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Setup database.
          command: npm run -s db:setup:dev

      - run:
          name: Synchronize database schema.
          command: npm run -s db:sync:test

      - run:
          name: Run all tests.
          command: npm run -s test:circleci

      - store_test_results:
          path: test-reports

      - store_artifacts:
          path: test-reports
          destination: test-reports

      - store_artifacts:
          path: coverage
          destination: coverage

  build-docker:
    docker:
      - image: docker:17.05.0-ce-git

    steps:
      - checkout
      - setup_remote_docker
      - run: |
          if [ "${CIRCLE_BRANCH}" == "master" ]; then
            docker/api/build_tag_push.sh
          fi